aiohttp==3.5.4
aiohttp-jinja2==1.1.1
aioopenssl==0.4.1
aiosasl==0.4.0
aioxmpp==0.10.3
appdirs==1.4.3
arrow==0.13.1
asn1crypto==0.24.0
async-timeout==3.0.1
attrs==19.1.0
Babel==2.6.0
backcall==0.1.0
bleach==3.1.0
board==0.0.0.post0
bokeh==1.1.0
bokeh-image-explore==1.3.0
bokeh-metaplot==0.5
bokehheat==0.0.3
cffi==1.12.3
Click==7.0
cryptography==2.6.1
cycler==0.10.0
decorator==4.4.0
defusedxml==0.6.0
Django==2.2
django-composite-foreignkey==1.1.0
dnspython==1.16.0
ebokeh==0.1.3
entrypoints==0.3
Faker==1.0.6
fc-hypermesh==0.0.12
fc-matplotlib4mesh==0.1.1
fc-meshtools==0.1.0
fc-oogmsh==0.1.0
fc-simesh==0.0.8
fc-simesh-matplotlib==0.0.3
fc-tools==0.0.22
future==0.17.1
imatplotlib==0.0.1
ipykernel==5.1.0
ipython==7.5.0
ipython-genutils==0.2.0
japanize-matplotlib==1.0.4
jedi==0.13.3
Jinja2==2.10.1
jinja2-time==0.2.0
jsmol-bokeh-extension==0.1.0.1
jsonschema==3.0.1
jupyter-client==5.2.4
jupyter-core==4.4.0
jupyter-server-proxy==1.1.0
jupyterlab-bokeh-server==0.2.0
kiwisolver==1.1.0
lxml==4.3.3
Markdown==3.1
markdown-bokeh==0.1.1
matplotlib==3.0.3
matplotlib-colorbar==0.3.7
matplotlib-hep==0.1.0
matplotlib-iterm2==0.1.0
matplotlib-label-lines==0.3.6
matplotlib-pgfutils==1.0.0
matplotlib-scalebar==0.5.1
matplotlib-subsets==1.0
matplotlib-venn==0.11.5
matplotlib-venn-wordcloud==0.2.2
matplotlib2tikz==0.7.4
matplotlibhelper==0.0.8
mistune==0.8.4
multidict==4.4.0
multipledispatch==0.6.0
nbconvert==5.5.0
nbformat==4.4.0
notebook==5.7.8
numpy==1.16.3
packaging==19.0
pandas==0.24.2
pandas-bokeh==0.2
pandocfilters==1.4.2
panflute==1.11.2
param==1.9.0
parambokeh==0.2.3
parso==0.4.0
pickleshare==0.7.5
Pillow==6.0.0
prometheus-client==0.6.0
prompt-toolkit==2.0.9
pyasn1-modules==0.2.5
pycparser==2.19
Pygments==2.4.0
pyOpenSSL==19.0.0
pyrsistent==0.15.1
python-dateutil==2.8.0
pytz==2019.1
pyviz-comms==0.7.2
PyYAML==5.1
pyzmq==18.0.1
scipy==1.2.1
screeninfo==0.3.1
Send2Trash==1.5.0
shutilwhich==1.1.0
simpervisor==0.3
singletonify==0.2.3
sortedcollections==1.1.2
sortedcontainers==2.1.0
spade==3.1.0
spade-bokeh==0.1.2
sqlparse==0.3.0
sugartex==0.1.16
terminado==0.8.2
testpath==0.4.2
text-unidecode==1.2
timeago==1.0.8
tornado==5.1
traitlets==4.3.2
tzlocal==1.5.1
wcwidth==0.1.7
webencodings==0.5.1
wordcloud==1.5.0
yarl==1.3.0
